<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ISTORE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ISTORE.styles.css" asp-append-version="true" />
    <style>
        #sidebar {
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            width: 250px;
            background-color: #f8f9fa;
            color: #333;
            padding: 0;
            box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.1); 
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            transition: all 0.3s ease-in-out; 
        }

        .content {
            margin-left: 250px;
            padding: 20px;
        }

        /* Sidebar listesi */
        #sidebar ul {
            list-style: none;
            padding: 0;
        }

            #sidebar ul li {
                text-align: center;
                margin-bottom: 20px; 
            }

                #sidebar ul li a {
                    color: #333;
                    text-decoration: none;
                    display: block;
                    padding: 12px 20px;
                    font-size: 18px; 
                    text-align: center;
                    border-left: 5px solid transparent; 
                    transition: background-color 0.3s ease, color 0.3s ease, border-left 0.3s ease; 
                }


                    #sidebar ul li a.active {
                        background-color: #343a40; 
                        color: #fff; 
                        border-left: 5px solid green; 
                    }

                    #sidebar ul li a:hover {
                        background-color: #343a40; 
                        color: #fff; 

                    }

        .sidebar-header {
            padding: 30px;
            background-color: #f8f9fa;
            text-align: center;
            border-bottom: 1px solid #ddd; 

        }

            .sidebar-header img {
                max-width: 150px;
                height: auto;
            }
    </style>


</head>

<nav>
    <!-- Sidebar -->
    <div id="sidebar" class="d-flex flex-column">
        <div class="sidebar-header">
            <img src="~/img/Joygamelogo2.png" alt="Logo">
        </div>
        <br />
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" asp-controller="User" asp-action="UserList">
                    <i class="fas fa-tachometer-alt"></i> Kullanıcı Yönetimi
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="StaffManagement" asp-action="StaffList">
                    <i class="fas fa-cogs"></i> Personel Yönetimi
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="ProductManagement" asp-action="ProductList">
                    <i class="fas fa-users"></i> Envanter Yönetimi
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="LicenceManagement" asp-action="LicenceList">
                    <i class="fas fa-chart-line"></i> Lisans Yönetimi
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="TeamManagement" asp-action="TeamList">
                    <i class="fas fa-chart-line"></i> Takım Yönetimi
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="User" asp-action="Logout">
                    <i class="fas fa-sign-out-alt"></i> Çıkış
                </a>
            </li>
        </ul>
    </div>
</nav>

<script>
    // Sayfa yüklendiğinde aktif sayfayı belirleyen JavaScript kodu
    window.onload = function() {
        var currentUrl = window.location.href; // Mevcut URL'yi alıyoruz
        var links = document.querySelectorAll('#sidebar .nav-link'); // Sidebar linklerini seçiyoruz

        links.forEach(function(link) {
            if (currentUrl.includes(link.getAttribute('href'))) {
                link.classList.add('active'); // Eğer URL linkle uyuşuyorsa, aktif sınıfını ekliyoruz
            }
        });
    };
</script>
