<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ISTORE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ISTORE.styles.css" asp-append-version="true" />
    <style>
        /* Sidebar stil ayarları */
        #sidebar {
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            width: 250px;
            background-color: whitesmoke;
            color: #fff;
            transition: 0.3s;
        }
                .content {
            margin-left: 250px;
            padding: 20px;
        }

        #sidebar ul {
            list-style: none;
            padding: 0;
        }

        #sidebar ul li {
            padding: 15px;
            text-align: left;
        }

        #sidebar ul li a {
            color: black;
            text-decoration: none;
            display: block;
            padding: 10px;
            font-size: 16px;
            text-align: center;
        }

        #sidebar ul li a:hover {
            background-color: #212529;
            border-radius: 5px;
            color: white;
        }

        .sidebar-header {
            padding: 20px;
            background-color: whitesmoke;
            text-align: center;
        }

        .sidebar-header img {
            max-width: 150px;
            height: auto;
        }

        /* İçerik kısmı */


        /* Sidebar'ın açılıp kapanmasını sağlar */
        #sidebar.collapsed {
            width: 80px;
        }

        #sidebar.collapsed ul li a {
            font-size: 12px;
            text-align: center;
        }

        #sidebar.collapsed ul li a i {
            font-size: 18px;
        }

    </style>
</head>

<nav>
    <!-- Sidebar -->
    <div id="sidebar" class="d-flex flex-column">
        <div class="sidebar-header">
            <img src="~/img/Joygamelogo2.png" alt="Logo">
        </div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Management" asp-action="UserList">
                    <i class="fas fa-tachometer-alt"></i> Kullanıcı Yönetimi
                </a>
                <hr style="color:black" />
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Management" asp-action="StaffList">
                    <i class="fas fa-cogs"></i> Personel Yönetimi
                </a>
                <hr style="color:black" />
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Management" asp-action="ProductList">
                    <i class="fas fa-users"></i> Envanter Yönetimi
                </a>
                <hr style="color:black" />
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Management" asp-action="ServerList">
                    <i class="fas fa-cogs"></i> Sunucu Yönetimi
                </a>
                <hr style="color:black" />
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Management" asp-action="LicenceList">
                    <i class="fas fa-chart-line"></i> Lisans Yönetimi
                </a>
                <hr style="color:black" />
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Management" asp-action="TeamList">
                    <i class="fas fa-chart-line"></i> Takım Yönetimi
                </a>
                <hr style="color:black" />
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="User" asp-action="Logout">
                    <i class="fas fa-sign-out-alt"></i> Çıkış
                </a>
                <hr style="color:black" />
            </li>
        </ul>
    </div>
</nav>
