@model StaffEditViewModel
@{
    Layout = "_Layout";  // Varsayılan olarak yeni layout'u kullan
}

<br />
<h3> | Yeni Panel Kullanıcısı Ekle </h3>
<hr />
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<form asp-action="StaffRegister" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <!-- Kullanıcı Adı ve Email -->
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Surname"></label>
        <input asp-for="Surname" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="SelectedTeamId" class="form-label">Takım Seç</label>
        <select asp-for="SelectedTeamId" class="form-control">
            <option>
                Takım seç
            </option>
            @foreach (var team in Model.Team)
            {
                <option value="@team?.Id">
                    @team?.TeamName
                </option>
            }
        </select>

    </div>





    <br />
    <button class="btn btn-dark">Kaydet</button>
</form>
