@model LicenceEditViewModel
@{
    Layout = "_Layout";  // Varsayılan olarak yeni layout'u kullan
}

<br />
<h3> | Yeni Lisans Ekle </h3>
<hr />
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<form asp-action="LicenceCreate" method="post">

    <!-- Kullanıcı Adı ve Email -->
    <div class="mb-3">
        <label asp-for="LicenceName">Lisans Adı</label>
        <input asp-for="LicenceName" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="LicenceActiveDate" class="control-label">Lisans Başlangıç Tarihi</label>
        <input asp-for="LicenceActiveDate" class="form-control" type="date" />
    </div>

    <div class="mb-3">
        <label asp-for="LicenceEndDate" class="control-label">Lisans Bitiş Tarihi</label>
        <input asp-for="LicenceEndDate" class="form-control" type="date" />
    </div>
    <br />
    <button class="btn btn-dark">Kaydet</button>
</form>
